@media (max-width:480px){
  body {
    width: 400px;
  }
 
 .underhead {
    position: relative;
    left:5px;
    width: 350px;
    font-size: 15px; 

  }

  .photoblogall {
    flex-direction: column;
  }

  #map {
    left:0%;
    width:350px;
  }

  #bydestination {
   display: none;
  }
  #aboutp2{
    display: none;
  }
  #aboutp {
    position: relative;
    left:-30px;
    top:550px;
    max-width: 100%;
  }
  #abouthead{
    left:0%
  }
 .wraper{
    max-width: 100%;
 }
 #postcard{
   display: none;
 }
 #poststamp {
    display: none;
 }
 #aboutphoto{
    bottom:130px;
    width: 350px;
 }
 .divpost {
   bottom:200px;
 }
 .contact {
    max-width:150px;
    font-size:4px;
    left:0%;
    bottom:-30px;
 }
 .contact1{
    display: none;
 }
 #show {
   left:120px
 }

 .notification{
    width:400px;
 }
 #advice {
    left:0%;
    max-width: 380px;
    bottom:0px;
    position: relative;
 }
 .slidepost {
    display: none;
 }
 .splide {
    left:0%;
    bottom:10px;
    max-width: 380px;
    height: 300px;
 }
 #scroller {
   max-width: 100%;
 }

 nav .mainMenu {
   max-width: 400px;
 }

 .welcomeText {
   display: none;
 }

}